body {
	color: #FFFFFF;
	font-size: 20px;
	line-height: 50px;
	background-color: #000000
}

#wrapper {
	max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #727575;
  padding-right: 10px;
  padding-left: 10px;
}

div #results {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #727575;
	padding-right: 10px;
	padding-left: 10px;
	color: #0A00FF;
	font-size: 30px;
	line-height: 50px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

h1	{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #F4DD66;
	font-size: 45px;
	line-height: 50px;
}

.loading {
	text-align: left;
}

@media (min-width: 40em) 
				{
				.banner { padding: 1.5em 3em 1.5em 3em; }
         .menu { padding: 1em 3em 1em 3em; }
         article { padding: 2em; }
		
        main {
         float: left;
         width: 65%;
         margin-right: 3%;
         border-right: 1px solid #FFF;
         }	
		  .menu li {
         display: inline;
         margin: 0 1em 0 0;
         }
		 /* Menu navigation - inline layout for wider screens */
         .menu a {
         display: inline;
         padding: 0;
         border-bottom: 0;
         }
		 
